In [1]:
d = {'key1':'value','key2':123}

In [2]:
d['key1']

'value'

In [3]:
d['key2']

123

In [4]:
d = {'k1':[1,2,3]}

In [5]:
d['k1'][1]

2

In [6]:
d = {'k1':{'innnerkey':[1,2,3]}}

In [11]:
d['k1']['innnerkey'][2]

3

In [14]:
True

True

In [15]:
False

False

In [16]:
my_list = [1,2,3]

In [17]:
my_list[0]

1

In [18]:
t = (1,2,3)

In [19]:
t[0]

1

In [20]:
my_list[0] = 'new'

In [21]:
my_list

['new', 2, 3]

In [22]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [23]:
{1,2,3}

{1, 2, 3}

In [25]:
{1,22,12213,1,2,31}

{1, 2, 22, 31, 12213}

In [26]:
set([1,2,3,2,4,23,23,25,])

{1, 2, 3, 4, 23, 25}

In [27]:
s = {1,2,3}

In [28]:
s.add(5)

In [29]:
s

{1, 2, 3, 5}

In [30]:
1 > 2

False

In [31]:
2 > 2

False

In [32]:
1 < 2

True

In [33]:
1 <= 1

True

In [34]:
1 == 1

True

In [35]:
1 == 2

False

In [38]:
1 != 1

False

In [40]:
'hi' != 'bye'

True

In [44]:
(1 < 1) and (2 < 1)

False

In [46]:
(1 < 2) or (2 > 3) or (1 == 1)

True

In [47]:
True or False

True

In [49]:
False or False

False

In [50]:
if 1 < 2:
    print('yes')

yes

In [58]:
if 1 != 1:
    print('first')
elif 4 == 4:
    print('second')
elif 3 != 3:
    print('middle')
else:
    print('last')

second