In [11]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('Telecom_Sampled.csv')

In [37]:
list = pd.read_csv('Telecom_Sampled.csv')

In [15]:
df.shape

(26518, 82)

In [23]:
df.churn = df.churn.astype('category')

In [24]:
print(type('df.churn'))

<class 'str'>

In [25]:
df.churn

0        0
1        0
2        0
3        0
4        0
        ..
26513    0
26514    1
26515    0
26516    0
26517    0
Name: churn, Length: 26518, dtype: category
Categories (2, int64): [0, 1]

In [26]:
df.isnull().values.any()

True

In [27]:
df.isna().sum()

Unnamed: 0        0
mou_Mean         58
totmrc_Mean      58
rev_Range        58
mou_Range        58
                 ..
adjrev            0
avgrev            0
Customer_ID       0
comp_dat_Mean     0
plcd_dat_Mean     0
Length: 82, dtype: int64

In [32]:
sr = df.sum(axis=1)
sc = df.sum(axis=0)

In [50]:
Percentage_missing=round(sc(df.isna(df[,sr(df)[sc(df.isna(df))>0]]))/sr(df)*100,2)

SyntaxError: invalid syntax (<ipython-input-50-058afe89dfa8>, line 1)

In [ ]:
#Percentage_missing=round(colSums(is.na(mydata[,colnames(mydata)[colSums(is.na(mydata))>0]]))/nrow(mydata)*100,2)

In [6]:
def missing(df):
    print (round((df.isnull().sum() * 100/ len(df)),2).sort_values(ascending=False))

In [7]:
percent_missing = df.isnull().sum() * 100 / len(df)
Percentage_missing=round(df.isnull().mean()*100,2)

In [8]:
df.isnull().any()

Unnamed: 0       False
mou_Mean          True
totmrc_Mean       True
rev_Range         True
mou_Range         True
                 ...
adjrev           False
avgrev           False
Customer_ID      False
comp_dat_Mean    False
plcd_dat_Mean    False
Length: 82, dtype: bool

In [9]:
df = df.drop(df[df.columns >= 0.3].index)

TypeError: '>=' not supported between instances of 'str' and 'float'

In [55]:
#Percentage_missing=round(colSums(is.na(mydata[,colnames(mydata)[colSums(is.na(mydata))>0]]))/nrow(mydata)*100,2)
#data.frame(MissingProportion=sort(Percentage_missing, decreasing = TRUE))
pm = round(df.fillna()
           Variables_with_High_NAs=colnames(mydata)[colSums(is.na(mydata))/nrow(mydata)>0.3]
Variables_with_High_NAs

,Unnamed: 0,mou_Mean,totmrc_Mean,rev_Range,mou_Range,change_mou,drop_blk_Mean,drop_vce_Range,owylis_vce_Range,mou_opkv_Range,...,div_type,drop_dat_Mean,drop_vce_Mean,adjmou,totrev,adjrev,avgrev,Customer_ID,comp_dat_Mean,plcd_dat_Mean
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26513,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
26514,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
26515,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
26516,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
26517,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
Percentage_missing=round(df.isnull().mean()*100,2) 
#df.sort_values('Percentage_missing', inplace=True)

In [65]:
#Percentage_missing=round(colSums(is.na(mydata[,colnames(mydata)[colSums(is.na(mydata))>0]]))/nrow(mydata)*100,2)
#data.frame(MissingProportion=sort(Percentage_missing, decreasing = TRUE))
pm = round(colsum(isn(df[:,colnames(df)[colsum(isna(df))>0]]))/nrow(df)*100,2)

NameError: name 'colsum' is not defined

In [36]:
df.loc[df.churn=='No','churn'] = 0 
df.loc[df.churn=='Yes','churn'] = 1

/home/ritesh/anaconda3/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [30]:
df

,Unnamed: 0,mou_Mean,totmrc_Mean,rev_Range,mou_Range,change_mou,drop_blk_Mean,drop_vce_Range,owylis_vce_Range,mou_opkv_Range,...,div_type,drop_dat_Mean,drop_vce_Mean,adjmou,totrev,adjrev,avgrev,Customer_ID,comp_dat_Mean,plcd_dat_Mean
0,47170,190.25,63.9400,26.00,43.0,-11.25,4.666667,8,20,28.44,...,NaN,0.0,3.666667,2376.0,519.07,489.08,37.62,1064525,0.000000,0.000000
1,39908,443.00,39.9900,5.10,199.0,-78.00,4.333333,5,33,72.46,...,NaN,0.0,3.000000,5565.0,598.53,538.55,44.88,1048538,0.333333,0.333333
2,21017,400.50,44.9900,13.88,172.0,-67.50,2.000000,1,7,93.60,...,NaN,0.0,0.333333,7866.0,1616.71,1586.36,58.75,1010139,0.000000,0.333333
3,23171,53.50,34.6675,18.56,78.0,12.50,1.333333,2,0,4.70,...,LDD,0.0,0.666667,5844.0,1682.44,1647.63,68.65,1014496,0.000000,0.000000
4,21979,37.00,21.0425,35.79,74.0,-33.00,5.666667,1,4,36.60,...,NaN,0.0,1.333333,1573.0,967.59,916.61,29.57,1012053,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26513,39980,1406.25,149.9900,48.01,212.0,110.75,16.666667,7,25,61.55,...,NaN,0.0,9.333333,17607.0,2265.43,2190.43,182.54,1048705,0.000000,0.000000
26514,7282,233.75,42.4900,0.00,95.0,55.25,1.666667,2,14,21.15,...,NaN,0.0,1.000000,6236.0,981.41,897.85,44.89,1026617,0.000000,0.000000
26515,57437,71.75,29.9900,0.99,65.0,33.25,0.000000,0,0,30.71,...,NaN,0.0,0.000000,806.0,330.62,288.27,32.03,1085271,0.000000,0.000000
26516,40826,805.00,49.9900,32.63,457.0,-39.00,14.666667,7,25,65.89,...,NaN,0.0,14.333333,9993.0,1202.81,1076.56,71.77,1050542,0.000000,0.000000
26517,26671,1008.25,75.0000,82.66,749.0,388.75,6.333333,4,5,252.78,...,LDD,0.0,4.666667,8536.0,1071.28,959.03,79.92,1021809,0.000000,0.000000

In [29]:
#Percentage_missing=round(colSums(np.na(df[colnames(df)[colSums(np.na(df))>0]]))/nrow(df)*100,2)
#data.frame(MissingProportion=sort(Percentage_missing, decreasing = TRUE))

In [41]:
df.sort_values('Percentage_missing', inplace=True)

KeyError: 'Percentage_missing'

In [38]:
df

,Unnamed: 0,mou_Mean,totmrc_Mean,rev_Range,mou_Range,change_mou,drop_blk_Mean,drop_vce_Range,owylis_vce_Range,mou_opkv_Range,...,div_type,drop_dat_Mean,drop_vce_Mean,adjmou,totrev,adjrev,avgrev,Customer_ID,comp_dat_Mean,plcd_dat_Mean
0,47170,190.25,63.9400,26.00,43.0,-11.25,4.666667,8,20,28.44,...,NaN,0.0,3.666667,2376.0,519.07,489.08,37.62,1064525,0.000000,0.000000
1,39908,443.00,39.9900,5.10,199.0,-78.00,4.333333,5,33,72.46,...,NaN,0.0,3.000000,5565.0,598.53,538.55,44.88,1048538,0.333333,0.333333
2,21017,400.50,44.9900,13.88,172.0,-67.50,2.000000,1,7,93.60,...,NaN,0.0,0.333333,7866.0,1616.71,1586.36,58.75,1010139,0.000000,0.333333
3,23171,53.50,34.6675,18.56,78.0,12.50,1.333333,2,0,4.70,...,LDD,0.0,0.666667,5844.0,1682.44,1647.63,68.65,1014496,0.000000,0.000000
4,21979,37.00,21.0425,35.79,74.0,-33.00,5.666667,1,4,36.60,...,NaN,0.0,1.333333,1573.0,967.59,916.61,29.57,1012053,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26513,39980,1406.25,149.9900,48.01,212.0,110.75,16.666667,7,25,61.55,...,NaN,0.0,9.333333,17607.0,2265.43,2190.43,182.54,1048705,0.000000,0.000000
26514,7282,233.75,42.4900,0.00,95.0,55.25,1.666667,2,14,21.15,...,NaN,0.0,1.000000,6236.0,981.41,897.85,44.89,1026617,0.000000,0.000000
26515,57437,71.75,29.9900,0.99,65.0,33.25,0.000000,0,0,30.71,...,NaN,0.0,0.000000,806.0,330.62,288.27,32.03,1085271,0.000000,0.000000
26516,40826,805.00,49.9900,32.63,457.0,-39.00,14.666667,7,25,65.89,...,NaN,0.0,14.333333,9993.0,1202.81,1076.56,71.77,1050542,0.000000,0.000000
26517,26671,1008.25,75.0000,82.66,749.0,388.75,6.333333,4,5,252.78,...,LDD,0.0,4.666667,8536.0,1071.28,959.03,79.92,1021809,0.000000,0.000000

In [19]:
def miss_data(df):
    x = ['column_name','missing_data', 'missing_in_percentage']
    missing_data = pd.DataFrame(columns=x)
    columns = df.columns
    for col in columns:
        icolumn_name = col
        imissing_data = df[col].isnull().sum()
        imissing_in_percentage = (df[col].isnull().sum()/df[col].shape[0])*100

        missing_data.loc[len(missing_data)] = [icolumn_name, imissing_data, imissing_in_percentage]
    print(missing_data)

In [ ]:
#Percentage_missing=  
missing_value_df.sort_values('Percent_missing', inplace=True)
#data.frame(MissingProportion=sort(Percentage_missing, decreasing = TRUE))

In [13]:
round(df.isnull().mean()*100,2)

Unnamed: 0       0.00
mou_Mean         0.22
totmrc_Mean      0.22
rev_Range        0.22
mou_Range        0.22
                 ...
adjrev           0.00
avgrev           0.00
Customer_ID      0.00
comp_dat_Mean    0.00
plcd_dat_Mean    0.00
Length: 82, dtype: float64

In [18]:
miss_data.sort_values('Percent_missing', inplace=True)

AttributeError: 'function' object has no attribute 'sort_values'

In [20]:
print(missing_data)

NameError: name 'missing_data' is not defined

In [100]:
import matplotlib.pyplot as plt